{% include 'header.twig' %}
    {% include 'navbar.twig' %}
    
    {% include 'admin/Menu.twig' with {'tab' : 3 } %}

    <div class="container-fluid content">

    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover" id="myTable">
                <tr>
                    <th>#</th>
                    <th>Ambasador</th>
                    <th>Email</th>
                    <th>PESEL</th>
                    <th>Telefon</th>
                    <th>Rejestracja</th>
                    <th>Rejs</th>
                    <th>Kod</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <td>{{ order.ID }}</td>
                    <td>{{ order.CustomerName }}</td>
                    <td>{{ order.CustomerEmail }}</td>
                    <td>{{ order.CustomerPesel }}</td>
                    <td>{{ order.CustomerPhone }}</td>
                    <td>{{ order.Created }}</td>
                    <td>{{ order.CruiseId }}</td>
                    <td>{{ order.Code }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
            
        <form>
            <label class="control-label">Importuj pliki</label>
            <input id="xls" name="xls[]" type="file" multiple class="file-loading">
        </form>
    </div><!-- /.container   -->

    </div>
{% include 'footer.twig' %}
