{% include 'header.twig' %}
    {% include 'navbar.twig' %}
    
    {% include 'admin/menu.twig' with {'tab' : 3 } %}

    <div class="container-fluid content">

    <div class="container">
        <button id="button-toolbox"><span class="glyphicon glyphicon-menu-hamburder" aria-hidden="true"></span></button>
        <div class="well well-lg" id="toolbox" class="hidden">
            <div class="input-group">
                <form action="/order/import" method="post" enctype="multipart/form-data">
                    <label class="btn btn-primary btn-file">
                        <i class="fa fa-folder-open" aria-hidden="true"></i><input id="xls" name="xls[]" type="file" multiple style="display:none"/>
                    </label> 
                    <span class="import-help" style="margin-left: 8px; margin-right: 12px;">
                        wybierz pliki
                    </span>
                    <button id="import-submit" class="btn btn-primary" type="submit" disabled> Importuj</button>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover" id="myTable">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Ambasador</th>
                    <th>Email</th>
                    <th>PESEL</th>
                    <th>Telefon</th>
                    <th>Rejestracja</th>
                    <th>Rejs</th>
                    <th>Kod</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.ID }}</td>
                    <td>{{ order.CustomerName }}</td>
                    <td>{{ order.CustomerEmail }}</td>
                    <td>{{ order.CustomerPesel }}</td>
                    <td>{{ order.CustomerPhone }}</td>
                    <td>{{ order.Created }}</td>
                    <td>{{ order.CruiseId }}</td>
                    <td>{{ order.Code }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>            
    </div><!-- /.container   -->

    </div>
{% embed 'footer.twig' %}
    {% block pagejs %}
    <script src="{{ APP_URL }}/js/toolbox.js"></script>
    <script src="{{ APP_URL }}/js/datatables.js"></script>
    <script src="{{ APP_URL }}/js/import.js"></script>
    {% endblock %}
{% endembed %}
