{% include 'header.twig' %}    
    <div class="container">
        <div class="panel panel-info loginPanel">
            <div class="panel-heading"><h3>Login</h3></div>
            <div class="panel-body">
                <div id="msgBox">
                {% if msg.error %}
                    <div class="alert alert-danger">{{ msg.error }}</div>
                {% endif %}
                {% if msg.success %}
                    <div class="alert alert-success">{{ msg.success }}</div>
                {% endif %}
                </div>
                <form class="form-signin" action="{{ APP_URL }}/auth/signin" method="POST">
                    <label for="login" class="sr-only">Email</label>
                    <input type="email" id="login" name="login" class="form-control" placeholder="Email" {% if old.login %}value="{{ old.login }}"{% endif %}required autofocus/>
                    <label for="password" class="sr-only">Hasło</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Hasło" required/>
                    <a href="{{ APP_URL }}/auth/forgotPassword">Zapomniałem hasła</a>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
                    <a class="btn btn-lg btn-primary btn-block" type="submit" href="{{ fbLoginUrl }}"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                </form>
            </div>
            <div class="panel-footer"><a href="{{ APP_URL }}">Powrót</a></div>
        </div>        
    </div><!-- /.container   -->
{% include 'footer.twig' %}
