{% include 'header.twig' %}    
    <div class="container">
        <div class="panel panel-info loginPanel">
            <div class="panel-heading"><h3>Zarejestruj się</h3></div>
            <div class="panel-body">
                <div id="msgBox">
                {% if msg.error %}
                    <div class="alert alert-danger">{{ msg.error }}</div>
                {% endif %}      
                </div>
                <form class="form-signup" action="{{APP_URL}}/auth/signup" method="POST">
                    <label for="name" class="sr-only">Imię i nazwisko</label>
                    <input type="text" id="name" name="name" class="form-control ignore" placeholder="Imię i nazwisko" {% if old.name %}value="{{ old.name }}"{% endif %}required autofocus/>
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" id="email" name="email" class="form-control ignore" placeholder="Email" {% if old.email %}value="{{ old.email }}"{% endif %}required/>
                    <label for="password" class="sr-only">Hasło</label>
                    <input type="password" id="password" name="password" class="form-control ignore" placeholder="Hasło" required/>
                    <label for="pesel" class="sr-only">Pesel</label>
                    <input type="text" id="pesel" name="pesel" class="form-control ignore" placeholder="PESEL" {% if old.pesel %}value="{{ old.pesel }}"{% endif %}required/>
                    <label for="phone" class="sr-only">Telefon</label>
                    <input type="text" id="phone" name="phone" class="form-control ignore" placeholder="Telefon" {% if old.phone %}value="{{ old.phone }}"{% endif %}required/>                    
                    <div class="checkbox">
                        <label><input id="accept" name="accept" type="checkbox" value="">Akceptuję <a href="#">Regulamin</a></label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Zarejestruj</button>                    
                    <a href="{{ fbLoginUrl }}" id="register-with-fb" class="btn btn-lg btn-primary btn-block"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                </form>
            </div>
            <div class="panel-footer"><a href="{{ APP_URL }}">Powrót</a></div>
        </div>
    </div><!-- /.container   -->
{% embed 'footer.twig' %}
    {% block pagejs %}
    <script src="{{ APP_URL }}/js/register.js"></script>
    {% endblock %}
{% endembed %}
