{% include 'header.twig' %}    
    <div class="container">
        <div class="panel panel-info loginPanel">
            <div class="panel-heading"><h3>Reset hasła</h3></div>
            <div class="panel-body">
                {% if msg.error %}
                    <div class="alert alert-danger">{{ msg.error }}</div>
                {% endif %}
                {% if msg.success %}
                    <div class="alert alert-success">{{ msg.success }}</div>
                {% endif %}
                <form class="form-signin" action="{{ APP_URL }}/auth/updatePassword" method="POST">
                    <label for="password" class="sr-only">Hasło</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Hasło" required autofocus/>
                    <label for="confirm" class="sr-only">Potwierdź</label>
                    <input type="password" id="confirm" name="confirm" class="form-control" placeholder="Potwierdź hasło" required/>
                    <input type="hidden" id="hash" name="hash" value="{{ hash }}"/>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Zapisz</button>
                </form>
            </div>
            <div class="panel-footer"><a href="{{ APP_URL }}">Powrót</a></div>
        </div>        
    </div><!-- /.container   -->
{% include 'footer.twig' %}
